body {
  background-color: #e6e6fa;
}
div {
	text-align: center;
	color: #9400d3;
}
title {
  color: #9400d3;
  text-align: center;
}
h1{
	font-size: 40px;
}
p {
  font-family: verdana;
  font-size: 20px;
}